//背景图片 jpg格式
@mixin bgJpg($URI,$x:0,$y:0){
		background: url('../../images/fupin/#{$URI}.jpg') no-repeat $x $y;
	}
//背景图片 png格式
@mixin bgPng($URI,$x:0,$y:0){
		background: url('../../images/fupin/#{$URI}.png') no-repeat $x $y;
	}
	
//绝对居中
@mixin pos-a-center($width){
	position: absolute;
	left: 50%;
	margin-left:- $width / 2 ;
	}