[class^="icon-btn-"],
[class*=" icon-btn-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  *margin-right: 6px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-btn-white,
.nav-pills > .active > a > [class^="icon-btn-"],
.nav-pills > .active > a > [class*=" icon-btn-"],
.nav-list > .active > a > [class^="icon-btn-"],
.nav-list > .active > a > [class*=" icon-btn-"],
.navbar-inverse .nav > .active > a > [class^="icon-btn-"],
.navbar-inverse .nav > .active > a > [class*=" icon-btn-"],
.dropdown-menu > li > a:hover > [class^="icon-btn-"],
.dropdown-menu > li > a:focus > [class^="icon-btn-"],
.dropdown-menu > li > a:hover > [class*=" icon-btn-"],
.dropdown-menu > li > a:focus > [class*=" icon-btn-"],
.dropdown-menu > .active > a > [class^="icon-btn-"],
.dropdown-menu > .active > a > [class*=" icon-btn-"],
.dropdown-submenu:hover > a > [class^="icon-btn-"],
.dropdown-submenu:focus > a > [class^="icon-btn-"],
.dropdown-submenu:hover > a > [class*=" icon-btn-"],
.dropdown-submenu:focus > a > [class*=" icon-btn-"] {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-btn-glass {
  background-position: 0      0;
}

.icon-btn-music {
  background-position: -24px 0;
}

.icon-btn-search {
  background-position: -48px 0;
}

.icon-btn-envelope {
  background-position: -72px 0;
}

.icon-btn-heart {
  background-position: -96px 0;
}

.icon-btn-star {
  background-position: -120px 0;
}

.icon-btn-star-empty {
  background-position: -144px 0;
}

.icon-btn-user {
  background-position: -168px 0;
}

.icon-btn-film {
  background-position: -192px 0;
}

.icon-btn-th-large {
  background-position: -216px 0;
}

.icon-btn-th {
  background-position: -240px 0;
}

.icon-btn-th-list {
  background-position: -264px 0;
}

.icon-btn-ok {
  background-position: -288px 0;
}

.icon-btn-remove {
  background-position: -312px 0;
}

.icon-btn-zoom-in {
  background-position: -336px 0;
}

.icon-btn-zoom-out {
  background-position: -360px 0;
}

.icon-btn-off {
  background-position: -384px 0;
}

.icon-btn-signal {
  background-position: -408px 0;
}

.icon-btn-cog {
  background-position: -432px 0;
}

.icon-btn-trash {
  background-position: -456px 0;
}

.icon-btn-home {
  background-position: 0 -24px;
}

.icon-btn-file {
  background-position: -24px -24px;
}

.icon-btn-time {
  background-position: -48px -24px;
}

.icon-btn-road {
  background-position: -72px -24px;
}

.icon-btn-download-alt {
  background-position: -96px -24px;
}

.icon-btn-download {
  background-position: -120px -24px;
}

.icon-btn-upload {
  background-position: -144px -24px;
}

.icon-btn-inbox {
  background-position: -168px -24px;
}

.icon-btn-play-circle {
  background-position: -192px -24px;
}

.icon-btn-repeat {
  background-position: -216px -24px;
}

.icon-btn-refresh {
  background-position: -240px -24px;
}

.icon-btn-list-alt {
  background-position: -264px -24px;
}

.icon-btn-lock {
  background-position: -287px -24px;
}

.icon-btn-flag {
  background-position: -312px -24px;
}

.icon-btn-headphones {
  background-position: -336px -24px;
}

.icon-btn-volume-off {
  background-position: -360px -24px;
}

.icon-btn-volume-down {
  background-position: -384px -24px;
}

.icon-btn-volume-up {
  background-position: -408px -24px;
}

.icon-btn-qrcode {
  background-position: -432px -24px;
}

.icon-btn-barcode {
  background-position: -456px -24px;
}

.icon-btn-tag {
  background-position: 0 -48px;
}

.icon-btn-tags {
  background-position: -25px -48px;
}

.icon-btn-book {
  background-position: -48px -48px;
}

.icon-btn-bookmark {
  background-position: -72px -48px;
}

.icon-btn-print {
  background-position: -96px -48px;
}

.icon-btn-camera {
  background-position: -120px -48px;
}

.icon-btn-font {
  background-position: -144px -48px;
}

.icon-btn-bold {
  background-position: -167px -48px;
}

.icon-btn-italic {
  background-position: -192px -48px;
}

.icon-btn-text-height {
  background-position: -216px -48px;
}

.icon-btn-text-width {
  background-position: -240px -48px;
}

.icon-btn-align-left {
  background-position: -264px -48px;
}

.icon-btn-align-center {
  background-position: -288px -48px;
}

.icon-btn-align-right {
  background-position: -312px -48px;
}

.icon-btn-align-justify {
  background-position: -336px -48px;
}

.icon-btn-list {
  background-position: -360px -48px;
}

.icon-btn-indent-left {
  background-position: -384px -48px;
}

.icon-btn-indent-right {
  background-position: -408px -48px;
}

.icon-btn-facetime-video {
  background-position: -432px -48px;
}

.icon-btn-picture {
  background-position: -456px -48px;
}

.icon-btn-pencil {
  background-position: 0 -72px;
}

.icon-btn-map-marker {
  background-position: -24px -72px;
}

.icon-btn-adjust {
  background-position: -48px -72px;
}

.icon-btn-tint {
  background-position: -72px -72px;
}

.icon-btn-edit {
  background-position: -96px -72px;
}

.icon-btn-share {
  background-position: -120px -72px;
}

.icon-btn-check {
  background-position: -144px -72px;
}

.icon-btn-move {
  background-position: -168px -72px;
}

.icon-btn-step-backward {
  background-position: -192px -72px;
}

.icon-btn-fast-backward {
  background-position: -216px -72px;
}

.icon-btn-backward {
  background-position: -240px -72px;
}

.icon-btn-play {
  background-position: -264px -72px;
}

.icon-btn-pause {
  background-position: -288px -72px;
}

.icon-btn-stop {
  background-position: -312px -72px;
}

.icon-btn-forward {
  background-position: -336px -72px;
}

.icon-btn-fast-forward {
  background-position: -360px -72px;
}

.icon-btn-step-forward {
  background-position: -384px -72px;
}

.icon-btn-eject {
  background-position: -408px -72px;
}

.icon-btn-chevron-left {
  background-position: -432px -72px;
}

.icon-btn-chevron-right {
  background-position: -456px -72px;
}

.icon-btn-plus-sign {
  background-position: 0 -96px;
}

.icon-btn-minus-sign {
  background-position: -24px -96px;
}

.icon-btn-remove-sign {
  background-position: -48px -96px;
}

.icon-btn-ok-sign {
  background-position: -72px -96px;
}

.icon-btn-question-sign {
  background-position: -96px -96px;
}

.icon-btn-info-sign {
  background-position: -120px -96px;
}

.icon-btn-screenshot {
  background-position: -144px -96px;
}

.icon-btn-remove-circle {
  background-position: -168px -96px;
}

.icon-btn-ok-circle {
  background-position: -192px -96px;
}

.icon-btn-ban-circle {
  background-position: -216px -96px;
}

.icon-btn-arrow-left {
  background-position: -240px -96px;
}

.icon-btn-arrow-right {
  background-position: -264px -96px;
}

.icon-btn-arrow-up {
  background-position: -289px -96px;
}

.icon-btn-arrow-down {
  background-position: -312px -96px;
}

.icon-btn-share-alt {
  background-position: -336px -96px;
}

.icon-btn-resize-full {
  background-position: -360px -96px;
}

.icon-btn-resize-small {
  background-position: -384px -96px;
}

.icon-btn-plus {
  background-position: -408px -96px;
}

.icon-btn-minus {
  background-position: -433px -96px;
}

.icon-btn-asterisk {
  background-position: -456px -96px;
}

.icon-btn-exclamation-sign {
  background-position: 0 -120px;
}

.icon-btn-gift {
  background-position: -24px -120px;
}

.icon-btn-leaf {
  background-position: -48px -120px;
}

.icon-btn-fire {
  background-position: -72px -120px;
}

.icon-btn-eye-open {
  background-position: -96px -120px;
}

.icon-btn-eye-close {
  background-position: -120px -120px;
}

.icon-btn-warning-sign {
  background-position: -144px -120px;
}

.icon-btn-plane {
  background-position: -168px -120px;
}

.icon-btn-calendar {
  background-position: -192px -120px;
}

.icon-btn-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-btn-comment {
  background-position: -240px -120px;
}

.icon-btn-magnet {
  background-position: -264px -120px;
}

.icon-btn-chevron-up {
  background-position: -288px -120px;
}

.icon-btn-chevron-down {
  background-position: -313px -119px;
}

.icon-btn-retweet {
  background-position: -336px -120px;
}

.icon-btn-shopping-cart {
  background-position: -360px -120px;
}

.icon-btn-folder-close {
  width: 16px;
  background-position: -384px -120px;
}

.icon-btn-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-btn-resize-vertical {
  background-position: -432px -119px;
}

.icon-btn-resize-horizontal {
  background-position: -456px -118px;
}

.icon-btn-hdd {
  background-position: 0 -144px;
}

.icon-btn-bullhorn {
  background-position: -24px -144px;
}

.icon-btn-bell {
  background-position: -48px -144px;
}

.icon-btn-certificate {
  background-position: -72px -144px;
}

.icon-btn-thumbs-up {
  background-position: -96px -144px;
}

.icon-btn-thumbs-down {
  background-position: -120px -144px;
}

.icon-btn-hand-right {
  background-position: -144px -144px;
}

.icon-btn-hand-left {
  background-position: -168px -144px;
}

.icon-btn-hand-up {
  background-position: -192px -144px;
}

.icon-btn-hand-down {
  background-position: -216px -144px;
}

.icon-btn-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-btn-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-btn-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-btn-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-btn-globe {
  background-position: -336px -144px;
}

.icon-btn-wrench {
  background-position: -360px -144px;
}

.icon-btn-tasks {
  background-position: -384px -144px;
}

.icon-btn-filter {
  background-position: -408px -144px;
}

.icon-btn-briefcase {
  background-position: -432px -144px;
}

.icon-btn-fullscreen {
  background-position: -456px -144px;
}

.ztree li span.button.icon-ztree-table_ico_close{
  background:url(../images/icon/ztree-table.png) no-repeat;
}
.ztree li span.button.icon-ztree-table_ico_open{
  background:url(../images/icon/ztree-table.png) no-repeat;
}

.label-disable {
  background:url(../images/rp_page/error-info.png) no-repeat;
}

.ztree li span.button.folder_ico_open{
    margin-left:2px;
    background:url(../images/glyphicons-halflings.png) scroll 0 0 transparent; 
  	background-repeat: no-repeat; 
  	background-position: -408px -120px; 
    vertical-align: text-top;
} 
.ztree li span.button.folder_ico_close {
    margin-left:2px;
    background:url(../images/glyphicons-halflings.png) scroll 0 0 transparent; 
  	background-repeat: no-repeat; 
  	background-position: -384px -120px;
    vertical-align: text-top;
}

.ztree li span.button.property_ico_open, .ztree li span.button.property_ico_close {
    margin-left:2px;
    background:url(../images/glyphicons-halflings.png) scroll 0 0 transparent; 
  	background-repeat: no-repeat; 
  	background-position: -264px 0;
    vertical-align: text-top;
}

.ztree li span.button.tag_ico_docu{
    margin-top:1px; 
    margin-left:2px;
    background:url(../images/glyphicons-halflings.png) scroll 0 0 transparent; 
  	background-repeat: no-repeat; 
    background-position: 0 -48px; 
    vertical-align: text-top;
}

.ztree li span.button.table_ico_open, .ztree li span.button.table_ico_close {
    margin-left:2px;
    background:url(../images/glyphicons-halflings.png) scroll 0 0 transparent; 
  	background-repeat: no-repeat; 
    background-position: -240px 0;  
    vertical-align: text-top;
}

.ztree li span.button.bookmark_ico_docu{
    margin-top:1px; 
    margin-left:2px;
    background:url(../images/glyphicons-halflings.png) scroll 0 0 transparent; 
  	background-repeat: no-repeat; 
    background-position: -72px -48px;
    vertical-align: text-top;
}
