@charset "utf-8";
/* CSS Document */


#condEditor div {
		margin-left:3px;
		margin-bottom:3px;
		display:  inline-block;
}
#fieldEditor div {
		margin-left:3px;
		margin-bottom:3px;
		display:  inline-block;
}
.closeRegion{
		position:relative ;
}
.fieldTag{
	height:22px;
	padding:5px;
}

.conditionTag{
	height:22px;
	padding:5px;
}
.close{
	z-index:10000;
 	display:none; 
	width: 12px;
	height: 12px;
	opacity: 0.8;
	color: red;
	position: absolute;
	right: 0px;
	top:-3px;
	overflow: hidden;
	text-decoration:none;
	text-align: center;
}   
