/* 头部布局
 */

header{
	$h:62px;
	height: $h;
	background: #2a2d31;
	border-bottom: 1px solid $border-c;
	h1{
		float: left;
		padding-top: 18px;
		margin-left: 28px;
		width: 325px;
		height: 28px;
		@include bgPng(logo,0,18px);
	}
	.nav-ul{
		float: right;
		line-height: $h;
		li{
			&:hover i{display: block;}
			&:hover a{color: #fff;}
			position: relative;
			float: left;
			margin: 0 23px;
			i{
				display: none;
				position: absolute;
				z-index: 1;
				top: -22px;
				left: -50%;
				margin-left: -50px;
				width: 276px;
				height: 130px;
				@include bgPng(nav-light);
				&.word2{
					margin-left: -100px;
				}
			}
			a{
				position: relative;
				z-index: 2;
				height: 49px;
				line-height: 56px;
				padding:0 3px;
				display: block;
				font-size: 20px;
				color: #8d8f91;
				
				
			}

			&.on a{
					color: #fff;
					border-bottom:2px solid $m-c ;
				}
			&.on i{
					display: block;
				}
		}

	}
}
